<form method="post" class="form-delete" action="{{ path('category_delete', {'id': category.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-danger btn-style">Delete</button>
</form>
