@import '_custom.scss';
@import '~bootstrap';

// body {
//     background-color: lightgray;
// }

/* Global */
h1 {
    margin: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: green;
}

form {
    display: flex;
    flex-direction: column;
}

button.btn-style,
.btn-styles .btn-style {
    width: 9.375rem;
    align-self: center;
    margin-top: .5rem;
}


/* Page plat index */

/* Logo */
.icon-image {
    width: 3.125rem;
    height: 3.125rem;
}

.btn-create {
    display: block;
    margin: 0 auto;
    width: 25vw;
}

/* Boutons edit et show */
.btn-container .btn-style {
    margin-bottom: .5rem;
}

@media only screen and (min-width: 576px) {
    .btn-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
    }

    .btn-create {
        max-width: 9.375rem;
    }
}

/* Page plats show */ 
.btn-styles {
    display: flex;
    justify-content: center;
}

.btn-styles form {
    margin-left: .5rem;
}
